.modal {
    height: 100%;
    width: 100vw;
    background-color: rgba(41, 30, 30, 0.822);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1000;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    background-color: #8a5d35;
    border: #31190e double 25px;
    margin-top: -3vh;
    max-width: 95%;
    max-height: 95%;
    transform: scale(0);
    transition: 0.4s all;
    overflow: auto;
    z-index: 100;
}
.modal__content img{
    max-width: 87vw;
    max-height: 75vh;
    z-index: 100;
}


.modal__content.active {
    transform: scale(1);
}


.closeModal{
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 15px;
    font-size: 30px;
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    -ms-text-stroke: 1px rgb(0, 0, 0);
    -o-text-stroke: 1px rgb(0, 0, 0);
}

.closeModal:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}

