.genresBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gernes_item{
    position: relative;
    max-width: 255px;
    max-height: 180px;
    background-color: black;
    border: blanchedalmond 1px solid;
    margin: 15px;
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.5s;
    text-align: rigth;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.308);
}

.genres__link{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
}

.genres__img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.genres__img img {
    max-width: 100%;
    height: 180px;
}

.gernes_item:hover{
    transform: scale(1);
    transition: 1s;
    border-color: tomato;
    box-shadow: 5px 5px 5px 5px rgba(255, 99, 71, 0.330);
}

.this__garnes{
    animation: shodowBox 1.5s 1 forwards;
}

@keyframes shodowBox {
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
  }