.content__container{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgContent{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 270px;

}
.imgContent img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}