.formbasket__container {
    animation: formBasket 1.5s 1 forwards;
    transition: 1s;
}

@keyframes formBasket {
    0%{opacity: 0; transform: scale(0.5) translate(-250px, -150px);}
    25%{opacity: 0.5;}
    35%{opacity: 1;}
    55%{transform: scale(0.5) translate(-190px, -0px);}
    100%{transform: translate(0px, 0px) scale(1); opacity: 1; }
}
