.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(41, 30, 30, 0.822);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1000;
    overflow: auto;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 15px;
    background-color: #964b00;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    justify-content: center;
}


.modal__content.active {
    transform: scale(0.7);
}

.modal__content img{
    max-height: 1300px;
    max-width: 90vw;
}

.closeModal{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    color: white;
}

@media screen and (max-width: 1300px) {
    .modal__content img{
        max-height: 900px;
    }
}

@media screen and (max-width: 750px) {
    .modal__content.active {
        transform: scale(1);
    }
    .modal__content {
        display: block;
        max-height: 390px;
    }
}