.modal {
    height: 100%;
    width: 100vw;
    background-color: rgba(41, 30, 30, 0.822);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1000;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    background-color: #ffc7dd;
    border: #8f827c double 25px;
    max-width: 95%;
    max-height: 95%;
    transform: scale(0);
    transition: 0.4s all;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 35%; 
    overflow: auto;
}


.modal__content.active {
    transform: scale(1);
}


.closeModal{
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 15px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(255, 0, 0);
}

.closeModal:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}

@media screen and (max-width: 750px) {
    .modal__content { 
        flex-basis: 95%; 
    }
}