.basket__container {
    padding-bottom: 90px;
    background-color: rgb(	150, 75, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.basket_null_container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.basket_null{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.null_description{
    animation: nullDescription 0.7s 1 forwards;
}
.button_translete{
    animation: buttonNull 0.7s 1 forwards;
}

.button_null{
    display: flex;
    align-items: center;
}

.basket__item{
    display: flex;
    min-width: 350px;
    max-width: 550px;
    justify-content: space-between;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    padding: 15px;
    border-radius: 15px;
    margin: 15px 30px;
    box-shadow: 5px 5px 5px 5px rgba(43, 37, 37, 0.466);
}
.item__box {
    display: flex;
}
.image{
    cursor: pointer;
    max-width: 100px;
    max-height: 50px;
    background-color: #ffc7dd;
    border: #8f827c double 9px;
    display: flex;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
}

.description span {
    margin-top: 9px;
    font-weight: 500;
    color: rgb(36, 25, 14);
}

.description__name{
    font-size: 25px;
}

.close {

    font-size: 19px;

}

.basket__total{
    width: 100%;
    width: 90%;
    padding: 30px;
    margin: 0 15px;
    color: #fff;
}
.total{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbbbbb ;
    max-height: 50px;
}
.total__price {
    -webkit-text-stroke: 1px rgb(255, 0, 0);
}

.length{
    margin: -20px 0;
}

.basket_submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit__order, .submit__order_active{
    cursor: pointer;
    margin: 15px 5px;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 17px;
    background-color: #57c237;
    color: white;
    border: 1px #57c237 solid;
    transform: scale(0.9);
    transition: 1s;
    animation: submitOrder 1.5s 1 forwards;
}

.submit__order_active {
    background-color: tomato;
    border: 1px tomato solid;
    animation: submitOrderActive 1.5s 1 forwards;
}

.submit__order:hover{ transform: scale(1); transition: 1s;}
.submit__order_active:hover{ transform: scale(1); transition: 1s;}

@keyframes nullDescription {
   0%{transform: translateY(-30vh); opacity: 0.3;}
   100%{transform: translateY(0); opacity: 1;} 
}

@keyframes buttonNull {
    0%{transform: translateY(30vh); opacity: 0.3;}
    100%{transform: translateY(0); opacity: 1;} 
 }

@keyframes submitOrder {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes submitOrderActive {
    0%{opacity: 0;}
    100%{opacity: 1;}
}