footer {
    max-height: 100px;
    width: 100vw;
    max-width: 2500px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(150, 75, 0, 0.747);;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: tomato 3px solid;    
}

.links__container {
    border-radius: 50%;
    height: 45px;
    width: 67px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.links__icon{
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 30px;
}
.links__description{
 
    text-align: left;
    width: 100%;
    height: 15px;
    font-size: 10px;
}
.links__sup{
    font-size:13px;
    position: absolute;
    border-radius: 50%;
    color: red;
    opacity: 0;
    transition: 1s; 
    border-bottom: 1px solid #000;
    animation: supFooter 1s 1 forwards; 
}
.links__sup.active{
    opacity: 1;
    border: none;
}
a.activeLink .links__container {
    color: #89b3e4;
}
.links__container:hover {color: #89b3e4; transition: 1s;}
footer img {max-width: 50px; max-height: 50px;}
footer img:hover{opacity: 0.8;}
@keyframes supFooter{
    0%{background-color: red; padding: 5px;}
    90%{border-color: none;}
    100%{opacity: 1; padding: 0;}
}
@media screen and (max-width: 750px) {
    footer {
        position: fixed;
        top: none;
    }
}