.canvas__container_index{
    width: 100%;
    min-height: 100vh;
    background-color: #964b00;

}
.container__canvas_content{
    animation: items 0.7s linear 0.9s 1 forwards;
}
.logoCanvas {
    max-width: 269px;
    max-height: 173px;
    border-radius: 50px ;
    position: relative;
    top: 0;
    left: 0;
    margin: 15px auto;
    overflow: hidden;

} 
.contCanvas{
    position: relative;
    top: 0;
    left: 0;
    margin: 30px auto;
    padding-bottom: 30px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

@keyframes items {
    0%{transform: translateY(-70vh);}
    100%{transform: translateY(0);}
}