.logoCanvas {
    max-width: 269px;
    max-height: 173px;
    border-radius: 50px ;
    position: relative;
    top: 0;
    left: 0;
    margin: 15px auto;
    overflow: hidden;
} 
.contCanvas{
    position: relative;
    top: 0;
    left: 0;
    margin: 30px auto;
    padding-bottom: 30px;
    max-width: 1180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;;
}
