
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');
*{
  font-family: 'Andada Pro', serif;
}

body {
  max-width: 100vw;
  height: 100%;
  background-color: rgb(	150, 75, 0);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 11px; /* ширина для вертикального скролла */
  height: 5px; /* высота для горизонтального скролла */
  background-color: rgb(	150, 75, 0);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #31190e;
  border-radius: 16em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
