.breadcrumbs__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.breadcrumbs__container ul{
    margin-left: 8vw;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 19px;
}
.breadcrumbs__container ul a{
    color: #000;
    font-style: italic;
    font-weight: 500;
}
.breadcrumbs__active{
    color:#89b3e4;
    font-style: italic;
    font-weight: bold;
}
.breadcrumbs__container ul li a:hover{
    color:#89b3e4;
}

@media screen and (max-width: 750px) {
    .breadcrumbs__container ul{
        margin: 3em 0 1em 0 ;
        font-size: 11px;
    }
}
@media screen and (max-width: 300px) {
    .breadcrumbs__container ul{
        display: none;
    }
}